:root {
  --font: "Poppins", sans-serif;
  --color-accent: rgb(235, 87, 87);
  --color-accent-hover: rgb(241, 62, 62);
  --color-light-bg: #ffffff;
  --color-light-text: #000000;
  --color-dark-bg: #181818;
  --color-dark-text: #f3f3f3;
}

[data-theme="light"] {
  background-color: var(--color-light-bg);
  color: var(--color-light-text);
}

[data-theme="dark"] {
  background-color: var(--color-dark-bg);
  color: var(--color-dark-text);
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 55%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 50vh;
  font-family: var(--font);
  background-color: var(--color-dark-bg);
  color: var(--color-dark-text);
}

label {
  display: block;
}

.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.progress-ring__circle {
  transition: stroke-dashoffset 1s linear, stroke 1s linear;
  stroke-linecap: round;
}

main {
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
  text-align: center;
  position: relative;
}

.modes {
  font-size: 1.7rem;
  padding: 1.6rem 1rem;
  background: var(--color-dark-bg);
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.mode {
  margin: 0 0.8rem;
  text-decoration: none; 
  color: var(--color-dark-text);
  cursor: pointer;
  transition: all 300ms ease-out;
  padding: 1rem 2rem;
  border-radius: 50px;
}

#start-session {
  padding: 0.5em 1em;
  background-color: var(--color-accent);
  color: var(--color-light-bg);
}

.mode:hover {
  background-color: var(--color-accent-hover);
}

.mode.active {
  padding: 0.5em 1em;
  background-color: var(--color-accent);
  color: var(--color-dark-bg);
}

.pomodoro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 2.5rem 0;
  text-align: center;
  border-radius: 50%;
  /* background: var(--color-dark-bg); */
}

.pomodoro__time {
  font-size: 7rem;
  font-weight: 400;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 480px) {
  main {
    transform: scale(0.75);
  }

  .modes {
    font-size: 1.4rem;
  }
}
